.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  height: 35vh;
  margin: 10px;
}

.tours-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 10px;
}

.museum-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
}

.weather-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.mat-selection-list {
  max-height: 25vh;
  min-height: 15vh;
  min-width: 20vw;
  flex-grow: 1;
  overflow: auto;
}

.mat-list-item {
  color: white;
}

.mat-list-option {
  color: white;
  height: fit-content !important;
  padding: 5px 0;
}

.mat-card {
  background-color: #3f51b5;
  margin: 5px;
  display: flex;
}

.mat-card-header {
  align-items: center;
  justify-content: center;
}

.museum-details-text {
  color: white;
}
