<div class="unregistered-container" *ngIf="!isLoggedIn()">
    <mat-card class="info-card">
        <mat-card-header>
            <mat-card-title style="color: white">
                Welcome to Virtual Museum Tours
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p style="color: white">To use services of this application please log in</p>
            <p style="color: white">or register if you don't have an account</p>
        </mat-card-content>
    </mat-card>
</div>
<footer class="footer-home" *ngIf="isLoggedIn()">
  <mat-list class="scrolling-wrapper" role="list">
    <mat-card class="card-news" *ngFor="let news of newsData" [ngStyle]="{'background-image': 'url('+news.enclosure.link+')'}">
      <a style="color: white" href="{{news.link}}" target="_blank"><h3>{{news.title}}</h3></a>
      <p>{{news.description}}</p>
      <p>{{news.pubDate}}</p>
    </mat-card>
  </mat-list>
</footer>
