.centered-content {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 20vw;
  justify-content: center;
  align-items: center;
  color: white;
}

.mat-form-field, .mat-raised-button {
  width: 300px;
}

.input {
  color: white;
}

.mat-dialog-container{
  background-color: white !important;
}
