<form class="centered-content" [formGroup]="loginFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input formControlName="username" matInput required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button style="margin-top: 50px" mat-raised-button color="primary" (click)="login()">Login</button>
</form>



